@model IEnumerable<TheBCBay.Models.ItemModel>


    <table>
        @foreach (var ItemModel in Model)
        {
            <tr>
                <td>@ItemModel.Id - </td>
                <td> @ItemModel.Title</td>
                <td><a asp-action="ViewItem" asp-route-id="@ItemModel.Id">Details</a></td>
            </tr>

        }

    </table>
    <a asp-action="Create">Create Item</a>
